<!--<h1 class="animated fadeIn">{{heroe.nombre}} <small> {{heroe.aparicion}}</small></h1>
<hr> -->

<div class="box">
<div class="row animated fadeIn fast">
    <div class="col md-4 text-center">
        <img width="300px" src="{{heroe.img}}" alt="" class="img-fluid">
        <br><br>
        <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block" [ngStyle]="{'background-color':heroe.casa=='Marvel'?'rgba(240,19,30,0.9)':'rgba(4,118,242,0.9)','color':'rgb(255,255,255)','border':'none'}">Regresar</a>
    </div>
    <div class="col md-8">
        <h3 [ngStyle]="{'color':heroe.casa=='Marvel'?'rgba(240,19,30,0.9)':'rgba(4,118,242,0.9)'}">{{heroe.nombre}} <small> {{heroe.aparicion}}</small></h3>
        <hr>
        <p style="color:white">
            {{heroe.bio}}
        </p>
        <div *ngIf="heroe.casa == 'Marvel' else dc">
            <img src="assets/img/marvel.png" width="150px" alt="">
        </div>
        <ng-template #dc>
            <img src="assets/img/dc.png" width="150px" alt="">
        </ng-template>
    </div>
</div>
</div>
