<div class="fondo">
<h1>Sobre cómics</h1>
<br>
Los cómics fueron una gran revelación para el público en general en junio de 1938 con la aparición de Superman en el Action Comic No. 1. Lo cual dio pauta para la creación de un sin fin de personajes y mundos hermosos, y, a la vez, trágicos y apocalipticos. DC Comics y Marvel Comics son las casas de los personajes más emblematicos de los cómics y de la cultura general. Superman y Batman por parte de DC, mientras que, por parte de Marvel son Iron Man y Spider Man.
</div>