<div class="box">
    <img src="assets/img/marvel.png" style="align-items: center;" width="150px" alt="">
    <div class="imagenes">
        <div>
            <img src="assets/img/ironman.jpg" style="align-items: center;  margin: 10px 20px;" height="200px" alt="">
            <p>Iron Man 3</p>
        </div>
        <div>
            <img src="assets/img/spiderman.jpg" style="align-items: center; margin: 10px 20px;" height="200px" alt="">
            <p>Spider-Man</p>
        </div>
        <div>
            <img src="assets/img/doctor.jpg" style="align-items: center; margin: 10px 20px;" height="200px" alt="">
            <p>Doctor Strange</p>
        </div>
        <div>
            <img src="assets/img/moon.png" style="align-items: center; margin: 10px 20px;" height="200px" alt="">
            <p>Moon Knight</p>
        </div>
        <div>
            <img src="assets/img/avengers.jpg" style="align-items: center; margin: 10px 20px;" height="200px" alt="">
            <p>Avengers Assemble</p>
        </div>
        <div>
            <img src="assets/img/spider.jpg" style="align-items: center; margin: 10px 20px;" height="200px" alt="">
            <p>Spider-Man TAS</p>
        </div>
    </div>
    <img src="assets/img/dc.png" style="align-items: center;" width="100px" alt="">
    <div class="imagenes">
        <div>
            <img src="assets/img/aquaman.jpg" style="align-items: center;  margin: 10px 20px;" height="200px" alt="">
            <p>Aquaman</p>
        </div>
        <div>
            <img src="assets/img/batman.jpg" style="align-items: center; margin: 10px 20px;" height="200px" alt="">
            <p>Batman</p>
        </div>
        <div>
            <img src="assets/img/superman.jpg" style="align-items: center; margin: 10px 20px;" height="200px" alt="">
            <p>Superman</p>
        </div>
        <div>
            <img src="assets/img/peace.jpg" style="align-items: center; margin: 10px 20px;" height="200px" alt="">
            <p>Peacemaker</p>
        </div>
        <div>
            <img src="assets/img/titanes.jpg" style="align-items: center; margin: 10px 20px;" height="200px" alt="">
            <p>Teen Titans Go!</p>
        </div>
        <div>
            <img src="assets/img/batmancar.jpg" style="align-items: center; margin: 10px 20px;" height="200px" alt="">
            <p>Batman</p>
        </div>
    </div>
</div>
